@model AvaliacaoLP3.ViewModels.Shopping

@{
    ViewData["Title"] = "Deleção Loja / Quiosque";
}

<h2>
    Confirmação Deleção
</h2>

<div>
    <p>Quer continuar com a deleção de <b>@Model.Name</b>?</p>
    <input name="confirm" type="submit" value="Delete">
</div>